certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
idna==3.20
numpy==2.5.3
psutil==7.2.2
pycparser==3.0
requests==2.34.2
sherpa-onnx-core==1.13.8
sherpa_onnx==1.13.8
sounddevice==0.5.6
urllib3==2.8.0
